<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee; http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>jsp_servlet_13_ex01</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  <!-- error-page : code / location을 web.xml에 지정해둘 수 있다. 해당 예외 발생시에 이동할 페이지를 따로 지정하지 않아도 된다. (errorPage = "~~.jsp" 불필요) -->
  <error-page>
  	<!-- error-code 404 : notFoundException -->
  	<error-code>404</error-code>
  	<location>/error404.jsp</location>
  </error-page>
  
  <error-page>
   	<!-- error-code 500 : runtimeError -->
  	<error-code>500</error-code>
  	<location>/error500.jsp</location>
  </error-page>
</web-app>